.ci-splash-wrapper
  %section.home-splash.flex-container.full-width
    .hero-container.flex-container.flex-column.full-width.justify-center
      = link_to "/analysts/forrester-ci/", class: "hero-title hero-cta hero-ci-title" do
        %h1
          A Leader In CI Tools Evaluation
      %p.hero-description
        "GitLab delivers ease of use, scalability, integration, and innovation. GitLab has a broad market reach, with over 80,000 active instances using the open source GitLab Community edition and over 500 enterprises paying for GitLab CI/CD."
      = link_to "/pricing/", class: "btn cta-btn accent hero-cta hero-ci-free-trial" do
        Try GitLab for Free
      = link_to "/analysts/forrester-ci/", class: "hero-cta hero-ci-link" do
        %p Download the full report →
    .hero-image-container
      = link_to "/analysts/forrester-ci/", class: "hero-image-link hero-cta hero-ci-image" do
        = image_tag "/images/home/forrester-ci-wave-graphic-white-bg.svg", class: "hero-image", alt: "Forrester ci wave graph svg"
