---
layout: default
title: Enablement
description: "Learn more about GitLab enablement stage in the DevOps lifecycle."
suppress_header: true
extra_css:
  - features-v2.css
  - release-posts.css
  - product.css
---

= partial "includes/stages/stage-page", locals: { solution: data.stages.stages.enablement, solution_name: "enablement" }
